<p-blockUI [blocked]="isLoading">
    <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
     <div
    style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    "
  >
   <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
  </div>
  </div>
</p-blockUI>

<p-panel [showHeader]="false">
  <p-dialog [modal]="true" header="Parámetros" [(visible)]="displayValidaciones">
    <app-validaciones-sti [IDKatios]="idKatios" [validaciones]="jsonAtributos"
        (crearProcesoEA)="crearProcesoEA($event)" [autoGenerar]="autoGenerar" [loged_user]="loged_user">
    </app-validaciones-sti>
  </p-dialog>

    <div style="min-height: 90vh; margin-top:.5rem;">
        <app-stimulsoft style="min-height: inherit;" *ngIf="displayStimulsoftReport" [mrt]="mrt" [data]="data"></app-stimulsoft>
    </div>
</p-panel>



